body {
    background-color:powderblue;
    font-family: lucida console;
}
h1 {
    font-size: 300%; 
    background-color: lightblue; 
    text-align: center;
}
h2 {
    text-align: center;
    background-color: lightgray;
    font-size: 200%;

}
p { 
    font-size:20px;
    color:red; 
    padding : 30px;
    border: 2px dashed #ccc;
    margin : 30px;
}
img { 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}
a:link, a:visited { 
    background-color: lightgray;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active { 
    background-color: darkgray;
}

.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

* {
    box-sizing: border-box;
}
  
.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

nav {
    float: left;
    width: 20%;  
    background: #ccc;
    padding: 20px;
  }

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
   
  }
section::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }